*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    
}
:root {
   --primary-text: #eae5e5;
  --secondary-text: #8b958b;

}
.input-wrapper {
    position: relative;
    width: 250px;
}

.input-wrapper i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%);
    color: grey;
    cursor: pointer;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center; 
}
.main-container i{
    color: blue;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    border: border-box;
    background: rgba(79, 76, 76, 0.214);
    padding: 6px;
    border-radius: 10px;
    transition: 0.2s ease;
}
.main-container i:hover {
    padding: 8px;
    background: rgba(79, 76, 76, 0.701);
}
.main-container h1{
    font-size: 40px;
    color: var(--primary-text);
    text-decoration: underline;
    margin-bottom: 30px;
}
.main-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text);
}
.innerContainer1{
    height: 75%;
    width: 80vh;
 display: flex;
    justify-content: center;
    align-items: center; 
      background: rgba(174, 174, 157, 0.15);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(227, 222, 222, 0.719);
    border-radius: 20px;
    box-shadow: #8b958b(0,0,0,0.4);

    
}

a{
    color: beige;
    
}
.innerContainer2{
    background: rgba(174, 174, 157, 0.15);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(227, 222, 222, 0.719);
    border-radius: 20px;
    box-shadow: #8b958b(0,0,0,0.4);
    height: 75%;
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: magenta; */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    
    
    
}
.input-items{
    display: flex;
    flex-direction: column;
   
}
input{
    height: 5vh;
    width: 400px;
    color: #eae5e5;
     border: none;
     outline: none;
    border-bottom: 2px solid red;
    background: transparent;
    font-size: 15px;
    transition: transform 0.2s ease;
    
} 
input:focus {
    transform: scale(1.02);
}
#fullName{
    text-transform: capitalize;
}
input::placeholder{
    color: bisque;
    opacity: 0.8;
}
.icon-box{
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-top: 10%;
    margin-bottom: 5%;
    
}
.btns{
 align-items: center;
    justify-content: center; 
    display: flex;
    margin: 30px;
    gap: 95px;
   
}
#btn{
    background: linear-gradient(45deg, #ff6b6b, #f06595);
    font-size: larger;
    color: white;
    padding: 5px;
    margin-top: 10px;
    height: 35px;
    width: 90px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3 ease;

}
#btn:hover {
transform: scale(1.05);
background: linear-gradient(45deg,#845ef7,#5c7cfa);
}
.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 25px;
}
.innerContainer1 , .innerContainer2{
    display: none;
}
.innerContainer1.active, .innerContainer2.active {
    display: block;
}